body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    background-color: #f4f5fd;
}

body,
html {
    scroll-behavior: smooth;
    max-width: 100%;
}

a {
    text-decoration: none;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    color: inherit;
}

a:hover,
a:focus,
button:focus,
input:focus {
    text-decoration: none;
    outline: none!important;
    cursor: pointer;
    box-shadow: none!important;
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 h2 h3 h4 h5 h6 {
    font-weight: 600;
}

.form-select:focus {
    border-color: #010064;
    box-shadow: none;
}

b,
strong {
    font-weight: bolder;
    font-weight: 700;
}

table tr th,
table tr td {
    font-size: 15px;
}

tr {
    padding: 10px 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.card {
    background-color: #fff;
    box-shadow: 0 15px 10px rgb(220 220 239 / 50%);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
}

.table {
    margin-bottom: 0px;
}

.fz-16 {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.fz-20 {
    font-size: 20px;
}

.fz-22 {
    font-size: 22px;
}

.fz-24 {
    font-size: 24px;
}

.fz-26 {
    font-size: 26px;
}

.fz-28 {
    font-size: 28px;
}

.fz-30 {
    font-size: 30px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.cst-btn {
    color: #333;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #010064;
    border-radius: 50px;
    padding: 6px 40px;
    transition: 0.2s;
}

.bg-blue {
    background-color: #010064;
    color: #fff!important;
}
.bg-blue:hover{
    background-color: #07063c;
}

.cst-btn:hover {
    background-color: #010064;
    color: #fff;
}


/*header-css-start*/

header .custom-navbar .nav-toggle .dropdown button {
    background-color: transparent;
    border: transparent;
}

header .custom-navbar .nav-toggle .dropdown img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

header .custom-navbar {
    background-color: #010064;
    padding-top: 10px;
    padding-bottom: 10px;
    /*box-shadow: 0px 0px 5px #ccc;*/
}

header .custom-navbar .navbar-brand img {
    width: 120px;
}

header .custom-navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
}

header .custom-navbar .navbar-nav .nav-item .nav-link:hover {
    color: #FF9100;
}

header .custom-navbar .navbar-nav .nav-item .nav-link.active {
    color: #FF9100;
}

header .custom-navbar .navbar-nav .dropdown-menu {
    position: absolute;
    top: 54px;
    border-radius: 0px 0px 10px 10px;
    border: transparent;
    border-bottom: 3px solid #010064;
    box-shadow: 0px 0px 5px #ccc;
}


/*header-css-end*/

.main-section {
    padding-top: 120px;
    min-height: 100vh;
}


/*dashboard-css-start*/

.h-box {
    position: relative;
    padding: 2.5rem 2.5rem;
    border-radius: 5px;
    box-shadow: 0 15px 10px rgb(220 220 239 / 50%);
    cursor: pointer;
    overflow: hidden;
    transition: all 1s ease-in-out;
    margin-bottom: 50px;
}

.h-box:hover {
    transform: scale(1.1);
}

.bg-gradient-danger {
    background: linear-gradient(to right, #ffbf96, #fe7096) !important;
}

.bg-gradient-info {
    background: linear-gradient(to right, #90caf9, #047edf 99%) !important
}

.bg-gradient-success {
    background: linear-gradient(to right, #84d9d2, #07cdae) !important
}

.h-box img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}


/*dashboard-css-end*/


/*subject-page-css-start*/

.s-box {
    padding: 50px 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: #010064;
    position: relative;
}

.s-box.blue-gradient {
    background: linear-gradient(to right, #0467d5, #0341a7, #021c7a);
}

.s-box.dark-gradient {
    background: linear-gradient(to right, #00082e, #001d4d, #00082e);
}

.s-box.sky-gradient {
    background: linear-gradient(to right, #1bb1dd, #0c4f8a, #01084d);
}

.s-box.purple-gradient {
    background: linear-gradient(to right, #6120d1, #4843e3, #2b6cf8);
}

.s-box.green-gradient {
    background: linear-gradient(to right, #1cc687, #51c59b, #8ec5b1);
}

.s-box.orange-gradient {
    background: linear-gradient(to right, #f28c29, #f77a3c, #fc664d);
}

.icon-img img {
    position: absolute;
    top: 0px;
    left: 50%;
    opacity: 0.2;
    height: 130px;
    width: 130px;
    transform: translate(-50%, 0);
    object-fit: fill;
}


/*subject-page-css-end*/


/*Test-package-css-start*/

.test-package-tab .nav-tabs {
    border: transparent;
    margin-bottom: 20px;
}

.test-package-tab .nav-tabs li a {
    display: inline-block;
    padding: 15px 35px;
    margin-right: 10px;
    background: linear-gradient(to right, #bdc4ce, #bdc4cd);
    border-radius: 8px;
    color: #000;
    margin-bottom: 5px;
}

.test-package-tab .nav-tabs li a:hover {
    background: linear-gradient(to right, #FF9000, #f77a3c);
    color: #fff;
}

.test-package-tab .nav-tabs li a.active {
    background: linear-gradient(to right, #FF9000, #f77a3c);
    color: #fff;
}

.tab-content-list li {
    display: flex;
    /*align-items: center;*/
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #ccc;
}

.tab-content-list li:nth-child(even) {
    background-color: #fff;
}

.tab-content-list li:nth-child(odd) {
    background-color: #e1edff;
}

.tab-content-list-img img {
    height: 100px;
    width: 120px;
    border-radius: 10px;
    margin-right: 15px;
    object-fit: fill;
}

.tab-content-list li .tab-content-list-content p {
    width: 70%;
}

.tab-content-list li .tab-content-list-content span {
    margin-right: 15px;
    display: inline-block;
    font-weight: 500;
}


/*Test-package-css-end*/


/*footer-css-start*/

.cst-footer {
    background-color: #fff;
    box-shadow: 0px 0px 5px #eee;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.cst-footer a {
    display: inline-block;
    font-weight: 600;
    color: #010064;
}


/*footer-css-end*/

.navbar-toggler {
    background: linear-gradient(to right, #FF9000, #f77a3c);
    height: 45px;
    width: 50px;
    line-height: 34px;
    font-size: 24px;
    color: #fff;
    padding: 0px;
    border: transparent;
}

/* .login-bg {
    background-image: url(../images/login-bg.jpg);
    min-height: 100vh;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.login-bg .login-inner {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(180 180 181 / 50%);
}

.login-bg .login-inner .form-control {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0px;
    margin-bottom: 40px;
    padding: 0;
    transition: 0.4s;
}

.login-bg .login-inner .form-control:focus {
    border-bottom: 2px solid #010064;
    box-shadow: none;
}

.login-bg .login-inner-content {
    background: linear-gradient(45deg, #0413ab, #f77a3c, #01084d);
    padding: 25px 15px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
}

.login-bg .login-inner-content .content-img img {
    width: 150px;
    margin-bottom: 20px;
}
.price ul li{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; 
}