<router-outlet></router-outlet>
<header class="fixed-top">
    <!-- <nav class="navbar navbar-expand-lg custom-navbar ">
       <div class="container">
          <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                   <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Category
                   </a>
                   <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="course.html">Category 1</a></li>
                      <li><a class="dropdown-item" href="#">Category 2</a></li>
                      <li><a class="dropdown-item" href="#">Category 3</a></li>
                   </ul>
                </li>
                <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Question Bank
                   </a>
                   <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="question-list.html">Question Bank 1</a></li>
                      <li><a class="dropdown-item" href="#">Question Bank 2</a></li>
                      <li><a class="dropdown-item" href="#">Question Bank 3</a></li>
                   </ul>
                </li>
                <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Cms Page
                   </a>
                   <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">About Us</a></li>
                      <li><a class="dropdown-item" href="#">Privacy Policy</a></li>
                      <li><a class="dropdown-item" href="#">Terms Condition</a></li>
                      <li><a class="dropdown-item" href="#">Refund-policy</a></li>
                   </ul>
                </li>
             </ul>
             <div class="nav-toggle ms-auto">
                   <div class="dropdown">
                      <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="assets/images/admin.jpg" alt="">
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                         <li><a class="dropdown-item" href="#">Log Out</a></li>
                         <li><a class="dropdown-item" href="#">Setting</a></li>
                         <li><a class="dropdown-item" href="#">Profile</a></li>
                      </ul>
                   </div>
                </div>
          </div>
       </div>
    </nav> -->
    <nav class="navbar navbar-expand-lg  custom-navbar">
        <div class="container">
        <a class="navbar-brand"><img src="assets/images/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link active" aria-current="page" href="/index.html">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Category 
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Category1</a>
                  <a class="dropdown-item" href="#">Category2</a>
                  <a class="dropdown-item" href="#">Category3</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Question Bank
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" (click)="gotoHome()">Question Bank 1</a></li>
                  <a class="dropdown-item" href="#">Question Bank2</a>
                  <a class="dropdown-item" href="#">Question Bank3</a>
                </div>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cms Page
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">About Us</a>
                <a class="dropdown-item" href="#">Privacy Policy</a>
                <a class="dropdown-item" href="#">Terms Condition</a>
                <a class="dropdown-item" href="#">Refund Policy</a>
              </div>
            </li>
          </ul>
          <div class="nav-toggle ms-auto">
            <div class="dropdown">
               <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
               <img src="assets/images/admin.jpg" alt="">
               </button>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Log Out</a></li>
                  <li><a class="dropdown-item" href="#">Setting</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
               </ul>
            </div>
         </div>
        </div>
    </div>
      </nav>
  </header>